/*BRACSA - SPORT*/
.footer {padding:50px 0 50px;margin-top:100px;color:#99979c;text-align:left;background-color:#2a2730;}
.footer-links{padding-left:0;margin-bottom:20px;}
.footer-links li{display:inline-block;}

#cabecera {background-color: #ffff66; margin-bottom: 0px;}

#barra {
	border-radius: 0px;
	margin-bottom: 10px;
}
#piedepagina {
	margin-bottom: 0px;
}
.carousel-inner > .item > img{
	margin:auto;
}
.carousel-inner {
	background-color: #333333;
	margin-top:51px;
}

